<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793506/blob/main/Modulo%201%20Concetos%20basicos%20Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Conceptos basicos Python
# Primer programa - print y comentarios 
print('Hola Mundo')

In [ ]:
#Tipos de datos en Python
#Conocer el tipo de dato de un valor
#entero
type(1)
#Float
type(1.1)
#string
type('esto es un string')
#bool
type(True)

In [ ]:
#Expresiones
#Operaciones matematicas
print(2 * 3 + 6)
print(2 * (3 + 6))
print(25 - 5)

#Division float
print(20 / 3)
#Division entera
print(20//3)

In [ ]:
from re import X
#variables
#Asignación de valor a variable
variable_1 = 5
print(variable_1)

#Guardar resultado de expresiones en variables
variable_1 = 5 * (2 + 3)
print(variable_1)

#Operaciones con variables
x = 5.3
y = 10 + x
print(y)

#tipos de datos en variables
print(type(y))

In [44]:
#Operaciones con Strings
cadena1 = 'Erick Najera'
cadena2 = "Baranquilla, Colombia"
print(cadena1)
print(cadena2)

#posicionamiento en strings
print(cadena1[0])
print(cadena2[9])
print(cadena1[-1])
print(cadena1[-5])

#Particionamiento en strings
print(cadena1[0:6])

#saltos en strings
print(cadena1[::2])
print(cadena1[0:7:2])

#Obetner tamaño de un string
print(len(cadena2))

#Concatenacion de strings
cadena1="Erick Najera"
cadena2="De Colombia, Atlantico"
cadena3 = cadena1 + " " + cadena2
print(cadena3)

#Replicar valores de cadena
print(cadena3 * 3)

#Usar secuencia de escapes
#salto de linea
print(cadena1 + "\n" + cadena2)
#Tabulacion
print(cadena1 + "\t" + cadena2)

#Metodos de secuencias
#Metodo convertir a mayusculas
print(cadena1.upper())

#Metodo reemplazar
cadena3 = cadena1.replace('Erick','Jose') 
print(cadena3)

#MEtodo para buscar en cadena
print(cadena2.find('Atlan') )
#valores no encontrados devuelve -1
print(cadena2.find('jos') )

Erick Najera
Baranquilla, Colombia
E
l
a
a
Erick
EikNjr
EikN
21
Erick Najera De Colombia, Atlantico
Erick Najera De Colombia, AtlanticoErick Najera De Colombia, AtlanticoErick Najera De Colombia, Atlantico
Erick Najera
De Colombia, Atlantico
Erick Najera	De Colombia, Atlantico
ERICK NAJERA
Jose Najera
13
-1