<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793506/blob/main/SVD_Equipo13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Maestría en Inteligencia Artificial Aplicada**
##**Curso: Inteligencia Artificial y Aprendizaje Automático**
###Tecnológico de Monterrey
###Prof Luis Eduardo Falcón Morales

## **Actividad 11 **
###**Reduccion de dimensionalidad**
**Nombres y matrículas de los integrantes del equipo:**

*   Rodrigo Rodriguez Rodriguez A01183284
*   Christian Emilio Saldana Lopez A00506509
*   Irvin Gomez Esquivel A00361034
*   Erick Najera Olivero A01793506

In [1]:
import numpy as np
import pandas as pd

from sklearn.decomposition import TruncatedSVD

### Ejercicio 1

In [5]:
#Cargamos los conjuntos de datos necesarios en dataframes
restaurantes = pd.read_csv("geoplaces2.csv", header=0
                           , sep=",", encoding='latin-1')

rating=pd.read_csv("rating_final.csv", header=0, sep=",", encoding='latin-1')

In [6]:
#Creamos el DF dfestudio con las columnas del conjunto de datos e rating, visualizamos el tamaño y los registros de DF
dfestudio=pd.DataFrame(rating)
dfestudio=dfestudio[['userID','placeID','rating']]
print(dfestudio.columns)
print(dfestudio.shape)
print (dfestudio.head)

Index(['userID', 'placeID', 'rating'], dtype='object')
(1161, 3)
<bound method NDFrame.head of      userID  placeID  rating
0     U1077   135085       2
1     U1077   135038       2
2     U1077   132825       2
3     U1077   135060       1
4     U1068   135104       1
...     ...      ...     ...
1156  U1043   132630       1
1157  U1011   132715       1
1158  U1068   132733       1
1159  U1068   132594       1
1160  U1068   132660       0

[1161 rows x 3 columns]>

In [7]:
dfestudio

     userID  placeID  rating
0     U1077   135085       2
1     U1077   135038       2
2     U1077   132825       2
3     U1077   135060       1
4     U1068   135104       1
...     ...      ...     ...
1156  U1043   132630       1
1157  U1011   132715       1
1158  U1068   132733       1
1159  U1068   132594       1
1160  U1068   132660       0

[1161 rows x 3 columns]

In [8]:
#Visualizamos la informacion del DF restarurantes
restaurantes_nombres = restaurantes[['placeID', 'name']]    # DataFrame
restaurantes_nombres.head()

   placeID                            name
0   134999                 Kiku Cuernavaca
1   132825                 puesto de tacos
2   135106      El Rincón de San Francisco
3   132667  little pizza Emilio Portes Gil
4   132613                   carnitas_mata

In [9]:
#Conjuntamos la información de ambos DF a traves de la información de la columna placeID:
tabla_relacionalEstudio1 = pd.merge(dfestudio,restaurantes_nombres, on='placeID')   # dataFrame
#Visualizamos los primeros 5 registros
tabla_relacionalEstudio1.head()

  userID  placeID  rating                    name
0  U1077   135085       2  Tortas Locas Hipocampo
1  U1108   135085       1  Tortas Locas Hipocampo
2  U1081   135085       1  Tortas Locas Hipocampo
3  U1056   135085       2  Tortas Locas Hipocampo
4  U1134   135085       2  Tortas Locas Hipocampo

### Ejercicio2

In [10]:
#Generamos la matriz de utilidad que proporciona la evaluación que cada usuario asigna a cada restaurante, se rellena con 0 las celdas sin registro
UtMx = tabla_relacionalEstudio1.pivot_table(values='rating', index='userID', columns='name', fill_value=0)

UtMx.head(10)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,1,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#Verificamos dimensiones de la matriz de utilidad
UtMx.shape

(138, 129)

In [12]:
print('Total de elementos de la matriz de utilidad: %d' % (UtMx.size))
print('Total de elementos diferentes de cero: %d' % (np.count_nonzero(UtMx)))
print('Porcentaje de elementos diferentes de cero: %.1f%%' % (100 * np.count_nonzero(UtMx) / UtMx.size))

Total de elementos de la matriz de utilidad: 17802
Total de elementos diferentes de cero: 907
Porcentaje de elementos diferentes de cero: 5.1%

In [13]:
X = UtMx.T     # Tomamos la traspuesta para que los renglones sean los restaurantes y las columnas los usuarios.
X.shape

(129, 138)

In [30]:
# Obtengamos la cantidad de información contenida en la factorización SVD, considerando
# todos los componentes posibles, es decir, todos los valores singulares

 # El número de componentes debe ser menor que el número de características (features/usuarios), que son 138:
SVD = TruncatedSVD(n_components=137, random_state=1)
SVD.fit(X)

num_sv =10 # En particular los 10 primeros vectores y valores singulares de mayor magnitud tienen esta cantidad de información.

print('Cantidad de información simplificada con los primeros %d vectores singulares:' % num_sv)
print('%.1f%%' %  (100 * (1- (SVD.singular_values_[0:num_sv]).sum() / (SVD.singular_values_).sum())))

Cantidad de  valores singulares obtenidos: 129
Cantidad de información simplificada con los primeros 10 vectores singulares:
75.6%

In [106]:
# Usemos las primeras 10 componentes de dicha factorización.
# Es decir reducimos la dimensión de la matriz X con solamente sus primeras componentes:

num_sv = 137 ### para este primer ejercicio usemos todas

SVDT = TruncatedSVD(n_components=num_sv, random_state=1)

resultant_matrix = SVDT.fit_transform(X)
print('Cantidad de  valores singulares obtenidos:' , round(len(SVDT.singular_values_),2))
resultant_matrix.shape

Cantidad de  valores singulares obtenidos: 129

(129, 129)

In [107]:
# Obtengamos la matriz de correlación de Pearson entre todas las
# variables latentes de las películas:

corrMx = np.corrcoef(resultant_matrix, )
corrMx.shape

(129, 129)

### Ejercicio 3

In [108]:
#Revisamos la evaluacion de Subway obteniendo el id dentro de la matriz de utilidad
me_gusta = "Subway"

names = UtMx.columns
names_list = list(names)
id_megusta = names_list.index(me_gusta)

id_megusta

88

In [109]:
#Visualizamos la correlación de "Subway" con todos los demas restaurantes en la matriz
corr_recomienda = corrMx[id_megusta]
print(corr_recomienda.shape)
print(corr_recomienda)

(129,)
[-7.69028369e-04 -7.87822168e-05 -5.27330975e-03  8.58511349e-04
 -3.03891148e-03  3.97495832e-05 -1.54820208e-03 -5.29347145e-03
  7.27520383e-04 -1.55098452e-03 -1.84483094e-03  3.01090491e-01
 -3.06938616e-05 -3.66639157e-03 -2.28024815e-03 -1.70971180e-03
  2.66961340e-03  4.58467365e-04 -2.11449533e-03 -6.20445134e-03
  3.34268563e-03  1.16598607e-01  1.87080102e-03  2.53682556e-03
 -5.48801141e-03 -2.91288266e-03  2.02825342e-03 -1.36607265e-03
 -2.01695899e-03  1.12058244e-01 -2.36235727e-03  6.52159239e-04
  3.53495770e-03 -3.62793330e-03  1.69065407e-03 -4.51837401e-03
 -2.09301342e-03  2.34634298e-01 -3.80413494e-03 -5.11845710e-04
 -2.27148704e-03  3.88178002e-01 -2.07427108e-03 -2.29428835e-03
  1.32565455e-03  3.01002479e-01  1.71433518e-01 -3.29715354e-03
 -4.74480596e-03 -8.02527884e-04 -2.65071452e-03  1.12018889e-01
 -3.91080724e-03 -2.06369812e-03  1.16008629e-01  2.27855804e-01
  4.28342495e-04 -8.69739761e-04  6.09520875e-01 -6.43364064e-03
  4.25467169e-01 -2.27256171e-03  4.45920939e-05  5.11279379e-04
  2.85149220e-01 -1.90010302e-03 -4.16115194e-03 -5.61375368e-03
 -2.57693978e-03 -3.72881676e-03 -6.05992942e-03  1.41047150e-03
 -1.58675476e-04 -1.94116490e-03  2.09955125e-03 -2.10171395e-03
 -4.38985616e-03 -2.29468299e-03  7.76009788e-04 -2.96124143e-03
 -2.82046690e-03 -8.57374506e-04 -1.50259308e-03 -3.19597534e-03
 -2.56400020e-03  4.29823831e-01  4.17218501e-01  3.89064434e-03
  1.00000000e+00 -9.93812832e-04  8.60361345e-04 -2.79531559e-03
  2.37442956e-04 -3.06216758e-03  1.36462717e-03  2.66480676e-04
  2.92661192e-03  5.06277680e-01 -3.20853148e-03 -8.36332065e-04
 -3.72003822e-03  1.60652886e-03 -1.25997089e-03 -2.57629937e-03
  1.70432198e-03 -2.43624453e-03 -1.13863819e-03  1.91200064e-03
 -3.57766463e-03 -2.41086958e-03 -8.60077590e-03  3.33763511e-03
  3.00375655e-03  2.47765536e-03  1.38274830e-03 -1.59646437e-05
 -8.37066511e-04 -1.73990894e-03 -1.20344221e-03 -3.56656608e-03
 -2.38089550e-03 -4.91396372e-06 -3.20025066e-03  1.81536303e-03
  2.45429531e-03 -2.56625850e-03 -2.88100273e-03 -1.91214767e-03
  8.37828947e-04]

In [110]:
#Correlacion del restaurante consigo mismo, se visualiza para estudio y validación que la correlacion con el mismo debe sr igual a 1 o muy proximo a este
corr_recomienda[id_megusta]

1.0

In [111]:
#Obtenemos las 10 mejores recomendaciones del modelo de acuerdo a valoraciones buenas a "Subway" y agregamos el valor

Best10=list(names[(corr_recomienda > .23) & (corr_recomienda < 0.99999)])

for pos in Best10:
 id_otra = names_list.index(pos)
 print('Restaurante',pos, ' | valor correlación: ', round(corr_recomienda[id_otra],2))

Restaurante Chilis Cuernavaca  | valor correlación:  0.3
Restaurante Log Yin  | valor correlación:  0.23
Restaurante Mariscos Tia Licha  | valor correlación:  0.39
Restaurante Mikasa  | valor correlación:  0.3
Restaurante Restaurant Teely  | valor correlación:  0.61
Restaurante Restaurant and Bar and Clothesline Carlos N Charlies  | valor correlación:  0.43
Restaurante Restaurant los Pinos  | valor correlación:  0.29
Restaurante Rincon del Bife  | valor correlación:  0.43
Restaurante Sanborns Casa Piedra  | valor correlación:  0.42
Restaurante Vips  | valor correlación:  0.51

### Ejercicio4
Busquemosel mejor numerdo de componentes y cuantos usar

In [112]:
num_sv =10 #reduscamos la factorizacion a 10 componentes

SVD = TruncatedSVD(n_components=num_sv, random_state=1)

resultant_matrix = SVD.fit_transform(X)
print('Dimensiones resultante:', resultant_matrix.shape, '\n')

me_gusta = "Subway"
names = UtMx.columns
names_list = list(names)
id_megusta = names_list.index(me_gusta)

print('Id del resaturante en la matriz: ',id_megusta,'\n')
corr_recomienda[id_megusta]
mejores10=list(names[(corr_recomienda > .23) & (corr_recomienda < 0.9999)])
print('10 mejores recomendaciones\n')
for pos in mejores10:
 id_otra = names_list.index(pos)
 print('Restaurante',pos, ' | valor correlación: ', round(corr_recomienda[id_otra],2))

Dimensiones resultante: (129, 10)

Id del resaturante en la matriz:  88

10 mejores recomendaciones

Restaurante Chilis Cuernavaca  | valor correlación:  0.3
Restaurante Log Yin  | valor correlación:  0.23
Restaurante Mariscos Tia Licha  | valor correlación:  0.39
Restaurante Mikasa  | valor correlación:  0.3
Restaurante Restaurant Teely  | valor correlación:  0.61
Restaurante Restaurant and Bar and Clothesline Carlos N Charlies  | valor correlación:  0.43
Restaurante Restaurant los Pinos  | valor correlación:  0.29
Restaurante Rincon del Bife  | valor correlación:  0.43
Restaurante Sanborns Casa Piedra  | valor correlación:  0.42
Restaurante Vips  | valor correlación:  0.51

In [114]:
#Obtenemos el numero de recomendaciones iguales respecto a los 10 mejores con todos los componentes
#Se obtiene el mismo resutlado con solo 10 componentes
print("Numero de Recomendaciones iguales:",len(set(mejores10).intersection(Best10)),'\n')

print('Cantidad de información simplificada con los primeros %d vectores singulares:' % num_sv)
print('%.1f%%' %  (100 * (1- (SVDT.singular_values_[0:num_sv]).sum() / (SVDT.singular_values_).sum())))

Numero de Recomandaciones iguales: 10

Cantidad de información simplificada con los primeros 10 vectores singulares:
75.6%

### Ejercicio 5

In [115]:
num_sv = 10

SVD = TruncatedSVD(n_components=num_sv, random_state=1)

resultant_matrix = SVD.fit_transform(X)
resultant_matrix.shape

(129, 10)

In [116]:
#Realizamos nuevamente el ejercicio con el "restaurante tacos de barbacoa enfrente del Tec"
me_gusta = "tacos de barbacoa enfrente del Tec"

names = UtMx.columns
names_list = list(names)
id_megusta = names_list.index(me_gusta)

print('Id del restaurante: ',id_megusta)

Id del restaurante:  124

In [117]:
corr_recomienda = corrMx[id_megusta]
print(corr_recomienda.shape)
print(corr_recomienda)

(129,)
[ 1.90365985e-03  1.95018219e-04  1.30535991e-02 -2.12516683e-03
  7.52254923e-03 -9.83964813e-05  3.83243356e-03  1.31035076e-02
  4.07794920e-01  3.83932123e-03  4.56671136e-03  1.56152873e-03
  7.59798653e-05  9.07581917e-03  5.64454708e-03  4.23223620e-03
 -6.60838540e-03 -1.13489430e-03  5.23424104e-03  1.53585555e-02
 -8.27451453e-03  4.82434184e-03 -4.63099792e-03 -6.27968115e-03
  1.48442849e-01  1.91120451e-01 -5.02075704e-03  3.38158871e-03
  4.99279870e-03  5.56810594e-03  5.84780076e-03 -1.61436094e-03
 -8.75046657e-03  8.98061922e-03 -4.18506052e-03  1.11848243e-02
  2.58479385e-01  1.27230718e-02  9.41679037e-03  1.26702755e-03
  5.62285977e-03  5.74403685e-03  5.13466958e-03  5.67930233e-03
 -3.28153738e-03  1.83689220e-03  1.11393805e-02  8.16180397e-03
  1.17453360e-02  1.98658485e-03  6.56160293e-03  5.69993965e-03
  9.68084797e-03  5.10849717e-03  6.85473722e-03 -3.44059875e-03
 -1.06032292e-03  2.15296175e-03  1.33109496e-04  1.59258928e-02
  6.48831289e-03  5.62552000e-03 -1.10383676e-04 -1.26562564e-03
 -1.67166776e-03  4.70353236e-03  1.03005535e-02  1.38963371e-02
  6.37898026e-03  9.23034706e-03  1.50008046e-02 -3.49149403e-03
  3.92786721e-04  4.80517732e-03 -5.19724834e-03  5.20260190e-03
  1.08666900e-02  5.68027923e-03 -1.92094172e-03  7.33028407e-03
  6.98180953e-03  2.12235268e-03  3.71953264e-03  7.91134654e-03
  6.34694950e-03 -5.40898390e-03  4.38279773e-03 -9.63093653e-03
  2.45429531e-03  2.46009336e-03 -2.12974633e-03  6.91954973e-03
  4.37184208e-01  7.58011759e-03 -3.37801056e-03 -6.59648698e-04
 -7.24456187e-03  1.54139054e-02  7.94242812e-03  2.07026403e-03
  1.70939472e-01  1.70855947e-01  3.11894345e-03  6.37739499e-03
 -4.21889419e-03  6.03070196e-03  2.81859538e-03 -4.73298386e-03
  8.85618371e-03  5.96788857e-03  2.12904392e-02 -8.26201244e-03
 -7.43552639e-03 -6.13321069e-03  6.53849268e-01  3.95190247e-05
  1.95174088e-01  4.30698647e-03  4.12764523e-01  8.82871025e-03
  5.89369046e-03  1.21640707e-05  7.92192972e-03  6.65305365e-01
  1.00000000e+00  6.35253973e-03  7.13166046e-03  4.73334779e-03
  8.17188985e-01]

In [118]:
#Correlacion del restaurante consigo mismo, se visualiza para estudio y validación que la correlacion con el mismo debe sr igual a 1 o muy proximo a este
corr_recomienda[id_megusta]

1.0

In [119]:
#Obtenemos las 10 mejores recomendaciones de acuerdo a valoracion del restaurante.
mejores10T= list(names[(corr_recomienda > .17) & (corr_recomienda < 0.9999999999)])
print('10 mejores recomendaciones\n')
for pos in mejores10T:
 id_otra = names_list.index(pos)
 print('Restaurante',pos, ' | valor correlación: ', round(corr_recomienda[id_otra],2))

10 mejores recomendaciones

Restaurante Carreton de Flautas y Migadas  | valor correlación:  0.41
Restaurante Hamburguesas La perica  | valor correlación:  0.19
Restaurante Little Cesarz  | valor correlación:  0.26
Restaurante Taqueria EL amigo   | valor correlación:  0.44
Restaurante carnitas mata calle Emilio Portes Gil  | valor correlación:  0.17
Restaurante carnitas_mata  | valor correlación:  0.17
Restaurante little pizza Emilio Portes Gil  | valor correlación:  0.65
Restaurante palomo tec  | valor correlación:  0.2
Restaurante puesto de gorditas  | valor correlación:  0.41
Restaurante tacos abi  | valor correlación:  0.67
Restaurante vips  | valor correlación:  0.82

Conclusiones:

En la practica de aplicación de SVD para reduccion de la dimensionalidad podemos observar que al reducir la matriz original de información a una de menor dimensión, obtenemos los valores singulares que representan la cantidad de información, en el ejercicio vimos que al usar solo 10 valores singulares, logramos reduccir la cantidad de informacion en un 76%, esta contiene, para este caso, el grado de satisfaccion de los clientes de los restaurantes mencionados, es decir, donde la valoración fue similar, por lo tanto las caracteristicas dentro de esta asociacion representan valores latentes. Pudiimos observar en el ejercicio que para el restaurante "tacos de barbacoa enfrente del Tec" se tiene una valoración muy cercana para establecimientos del mismo tipo de comida, por ejemplo, vemos con alta correlaccion, retaurant Vips con 0.82; tacos abi con 0,67; Carreton de flautas y migadas con 0.41 y taqueria el amigo con 0.44. Teniendo en comun que son establecimientos de comida tipica Mexicana, por lo que concluimos que el sistema de recomendacion esta basado en que los usuarios valoraron igual a los restaurantes de acuerdo al mismo tipo de comida.

### Ejercicio 6

In [ ]:
dfestudio2=rating[['userID','placeID','food_rating']]
tabla_relacionalEstudio2 = pd.merge(dfestudio2,restaurantes_nombres, on='placeID')   # dataFrame

tabla_relacionalEstudio2.head()

  userID  placeID  food_rating                    name
0  U1077   135085            2  Tortas Locas Hipocampo
1  U1108   135085            2  Tortas Locas Hipocampo
2  U1081   135085            2  Tortas Locas Hipocampo
3  U1056   135085            2  Tortas Locas Hipocampo
4  U1134   135085            1  Tortas Locas Hipocampo

### Ejercicio 6.2

In [ ]:
UtMx = tabla_relacionalEstudio2.pivot_table(values='food_rating', index='userID', columns='name', fill_value=0)

UtMx.head(10)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,0,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,2,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
UtMx.shape

(138, 129)

In [ ]:
print('Total de elementos de la matriz de utilidad: %d' % (UtMx.size))
print('Total de elementos diferentes de cero: %d' % (np.count_nonzero(UtMx)))
print('Porcentaje de elementos diferentes de cero: %.1f%%' % (100 * np.count_nonzero(UtMx) / UtMx.size))

Total de elementos de la matriz de utilidad: 17802
Total de elementos diferentes de cero: 895
Porcentaje de elementos diferentes de cero: 5.0%

In [ ]:
X = UtMx.T     # Tomamos la traspuesta para que los renglones sean las películas y las columnas los usuarios.
X.shape

(129, 138)

In [ ]:
# Obtengamos la cantidad de información contenida en la factorización SVD, considerando
# los valores singulares más representativos de dicha factorización.
# Para este caso inicial usaremos todos los vectores singulares, para luego
# compararlo con el caso al reducir su dimensión.

 # El número de componentes debe ser menor que el número de características (features/usuarios), que son 943:
SVD = TruncatedSVD(n_components=137, random_state=1)
SVD.fit(X)

num_sv =10 # En particular los 10 primeros vectores y valores singulares de mayor magnitud tienen esta cantidad de información.

print('Cantidad de información simplificada con los primeros %d vectores singulares:' % num_sv)
print('%.1f%%' %  (100 * (1- (SVD.singular_values_[0:num_sv]).sum() / (SVD.singular_values_).sum())))

Cantidad de información simplificada con los primeros 10 vectores singulares:
75.9%

In [ ]:
num_sv = 137 # para este ejercicio usarems todos

SVD = TruncatedSVD(n_components=num_sv, random_state=1)

resultant_matrix = SVD.fit_transform(X)
resultant_matrix.shape

(129, 129)

In [ ]:
corrMx = np.corrcoef(resultant_matrix, )
corrMx.shape

(129, 129)

### Ejercico 6.3

In [ ]:
me_gusta = "Subway"

names = UtMx.columns
names_list = list(names)
id_megusta = names_list.index(me_gusta)

id_megusta

88

In [ ]:
corr_recomienda = corrMx[id_megusta]
print(corr_recomienda.shape)
print(corr_recomienda)

(129,)
[-5.06418108e-03  1.53891772e-03 -7.15705294e-03 -7.51437349e-04
  3.57844065e-04 -4.27908953e-03 -4.10491062e-03 -8.72391553e-03
 -5.80659154e-03 -7.37551348e-03 -6.29677017e-03  1.19529006e-03
 -5.49056441e-03 -6.25106315e-03 -2.26808294e-04  2.26784575e-03
 -4.97923491e-03 -7.33491870e-03 -5.49091909e-05 -6.54487708e-03
 -7.17291384e-04  2.31333734e-01 -9.42653806e-04  1.15809414e-03
 -2.44343966e-03 -2.46720616e-03 -8.43368969e-04 -2.05629573e-03
 -3.70288596e-03  2.50357400e-01 -5.28927854e-03  2.72981977e-03
  4.14365709e-04 -9.51153872e-03  2.32009229e-03 -9.29532082e-03
 -4.03970901e-03  1.31858098e-01 -8.36645261e-03 -2.30125601e-03
 -2.61409620e-03  4.15222053e-01  4.25538306e-03  3.02880631e-03
 -2.46282020e-03  2.09493113e-01  3.12082362e-01 -3.01154158e-03
 -3.10972278e-04 -1.11824996e-03  8.07121501e-04  2.24213782e-01
  2.65096107e-04  6.44807197e-04  2.32708368e-01  3.31706780e-01
  6.95063851e-04  3.47994174e-04  8.16413374e-01  1.04699730e-04
  4.68949686e-01  4.43119191e-03 -2.79083259e-03 -4.74310321e-03
  9.45625400e-02 -4.32375633e-03 -9.91593839e-03  6.59128482e-03
 -5.26009411e-03 -8.53125476e-03 -1.08456080e-02  5.80519412e-03
  3.26361206e-03  1.18239199e-03  1.50584868e-04 -6.05677040e-03
 -8.57964598e-04 -5.47089297e-04  1.30496863e-03  1.14112586e-03
 -3.15094052e-03  1.03603724e-02  2.95398913e-03 -9.38144208e-03
 -6.29169520e-04  3.81819463e-01  3.65656688e-01  4.28784461e-04
  1.00000000e+00 -1.99936321e-03 -4.29943952e-03 -9.95112702e-03
 -6.58885162e-03 -4.81048142e-03 -5.63718446e-03 -1.74366758e-03
  3.01538197e-03  4.42147702e-01 -5.86019551e-03 -1.52653108e-03
 -8.54349820e-03  3.15606317e-03  2.45599865e-04 -4.60337555e-03
 -7.91423599e-04  8.56988031e-04  1.98632124e-03 -9.14149262e-04
 -9.63185863e-03 -6.59421891e-03 -3.61768796e-03 -4.98574218e-03
 -2.08219907e-03 -8.12719293e-04 -2.93115223e-03 -2.83804692e-03
  2.86699454e-03 -2.84151084e-04 -6.54974706e-03 -8.56547287e-03
  1.73284166e-04 -9.40493206e-03 -7.95661685e-03 -1.05138327e-02
 -5.78915963e-03 -5.39973770e-03 -7.67089017e-03  6.33375557e-03
 -2.57101052e-03]

In [ ]:
corr_recomienda[id_megusta]

1.0

In [ ]:
Best10=list(names[(corr_recomienda > .23) & (corr_recomienda < 0.99999)])
Best10

['Giovannis',
 'Kiku Cuernavaca',
 'Mariscos Tia Licha',
 'Paniroles',
 'Restaurant Familiar El Chino',
 'Restaurant Las Mananitas',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Rincon del Bife',
 'Sanborns Casa Piedra',
 'Vips']

### Ejercicio 6.4

In [ ]:
num_sv = 10

SVD = TruncatedSVD(n_components=num_sv, random_state=1)

resultant_matrix = SVD.fit_transform(X)
resultant_matrix.shape

me_gusta = "Subway"
names = UtMx.columns
names_list = list(names)
id_megusta = names_list.index(me_gusta)

id_megusta
corr_recomienda[id_megusta]
mejores10=list(names[(corr_recomienda > .23) & (corr_recomienda < 0.9999)])
mejores10

['Giovannis',
 'Kiku Cuernavaca',
 'Mariscos Tia Licha',
 'Paniroles',
 'Restaurant Familiar El Chino',
 'Restaurant Las Mananitas',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Rincon del Bife',
 'Sanborns Casa Piedra',
 'Vips']

In [ ]:
print("Numero de Recomandaciones iguales:",len(set(mejores10).intersection(Best10)))

Numero de Recomandaciones iguales: 11

### Ejercicio 7

In [ ]:
dfestudio3=rating[['userID','placeID','service_rating']]
tabla_relacionalEstudio3 = pd.merge(dfestudio3,restaurantes_nombres, on='placeID')   # dataFrame

tabla_relacionalEstudio3.head()

  userID  placeID  service_rating                    name
0  U1077   135085               2  Tortas Locas Hipocampo
1  U1108   135085               1  Tortas Locas Hipocampo
2  U1081   135085               1  Tortas Locas Hipocampo
3  U1056   135085               2  Tortas Locas Hipocampo
4  U1134   135085               2  Tortas Locas Hipocampo

### Ejercico 7.2

In [ ]:
UtMx = tabla_relacionalEstudio3.pivot_table(values='service_rating', index='userID', columns='name', fill_value=0)

UtMx.head(10)

name,Abondance Restaurante Bar,Arrachela Grill,Cabana Huasteca,Cafe Chaires,Cafeteria cenidet,Cafeteria y Restaurant El Pacifico,Carls Jr,Carnitas Mata Calle 16 de Septiembre,Carreton de Flautas y Migadas,Cenaduria El RincÃ³n de Tlaquepaque,...,puesto de tacos,rockabilly,shi ro ie,sirloin stockade,tacos abi,tacos de barbacoa enfrente del Tec,tacos de la estacion,tacos los volcanes,tortas hawai,vips
userID,,,,,,,,,,,,,,,,,,,,,
U1001,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
U1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1003,0,0,2,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
U1004,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
U1005,0,0,0,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1006,0,0,0,1,0,0,0,0,0,0,...,1,0,2,0,0,0,0,0,0,0
U1007,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1008,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1009,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
U1010,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
UtMx.shape

(138, 129)

In [ ]:
print('Total de elementos de la matriz de utilidad: %d' % (UtMx.size))
print('Total de elementos diferentes de cero: %d' % (np.count_nonzero(UtMx)))
print('Porcentaje de elementos diferentes de cero: %.1f%%' % (100 * np.count_nonzero(UtMx) / UtMx.size))

Total de elementos de la matriz de utilidad: 17802
Total de elementos diferentes de cero: 846
Porcentaje de elementos diferentes de cero: 4.8%

In [ ]:
X = UtMx.T     # Tomamos la traspuesta para que los renglones sean las películas y las columnas los usuarios.
X.shape

(129, 138)

In [ ]:
# Obtengamos la cantidad de información contenida en la factorización SVD, considerando
# los valores singulares más representativos de dicha factorización.
# Para este caso inicial usaremos todos los vectores singulares, para luego
# compararlo con el caso al reducir su dimensión.

 # El número de componentes debe ser menor que el número de características (features/usuarios), que son 943:
SVD = TruncatedSVD(n_components=137, random_state=1)
SVD.fit(X)

num_sv =10 # En particular los 10 primeros vectores y valores singulares de mayor magnitud tienen esta cantidad de información.

print('Cantidad de información simplificada con los primeros %d vectores singulares:' % num_sv)
print('%.1f%%' %  (100 * (1- (SVD.singular_values_[0:num_sv]).sum() / (SVD.singular_values_).sum())))

Cantidad de información simplificada con los primeros 10 vectores singulares:
75.6%

In [ ]:
num_sv = 137

SVD = TruncatedSVD(n_components=num_sv, random_state=1)

resultant_matrix = SVD.fit_transform(X)
resultant_matrix.shape

(129, 129)

In [ ]:
corrMx = np.corrcoef(resultant_matrix, )
corrMx.shape

(129, 129)

### Ejercicio 7.3

In [ ]:
me_gusta = "Subway"

names = UtMx.columns
names_list = list(names)
id_megusta = names_list.index(me_gusta)

id_megusta

88

In [ ]:
corr_recomienda = corrMx[id_megusta]
print(corr_recomienda.shape)
print(corr_recomienda)

(129,)
[-2.91095724e-04 -3.60361693e-03  4.17542463e-03  5.49600644e-03
  8.22025821e-03  9.26584331e-04 -1.84324856e-04  2.08477911e-02
  4.16661248e-04  5.49213204e-03 -9.83321202e-03  2.30697829e-01
 -7.71002964e-04 -7.78964069e-03  4.28478573e-03 -1.96660815e-03
  6.46627016e-03  1.22858323e-02  5.23591750e-03 -3.37285475e-03
  4.22033518e-03  1.92759594e-01  3.25932626e-03  1.31225788e-02
  1.02856131e-02  1.08386707e-02 -2.32136875e-03  9.93522146e-03
 -8.13035667e-03  1.78740094e-01  1.27492522e-03  4.01749269e-03
  9.93395882e-03  1.06861306e-02  1.08193009e-02  6.49374214e-03
  2.57816306e-03  1.10159929e-02  1.62133585e-02  9.40455020e-03
  1.04115070e-02  1.39761855e-01  4.95429442e-03  1.01065382e-02
  7.45513647e-03  1.62758051e-02  3.65933684e-01 -4.53806898e-03
  1.94095851e-03  6.28735982e-03  7.08759527e-03  4.35778543e-03
  7.61149284e-03  6.86889327e-03  1.82869479e-01  2.26266242e-01
  8.41417946e-03 -1.38744406e-02  7.72973139e-01  2.58304203e-04
  6.00160625e-01  1.00855481e-02 -8.87397356e-03  5.37102617e-03
  9.70530131e-03  7.08173024e-03  8.06957518e-03 -5.45053917e-03
  1.25456353e-02  8.27983430e-03  1.25915854e-03  9.13235634e-03
 -4.90925954e-03 -1.55909907e-03  2.56719712e-04 -6.13210589e-04
  2.33141129e-03 -2.84236088e-03  1.34229000e-02  8.54134908e-03
 -1.95914298e-03 -5.67817255e-03 -1.88379679e-03 -4.53066053e-03
  6.90749795e-03  5.18731471e-01  1.27712441e-01  7.79875544e-03
  1.00000000e+00  4.34972686e-03  8.04472608e-03  6.45175638e-03
  1.22023121e-03 -4.61635454e-03  6.39825008e-03 -3.57085063e-05
  1.83854290e-02  4.21199865e-01  1.79626257e-02  1.24610098e-03
  1.08222404e-03  4.99735712e-03 -2.30140973e-03  1.04895738e-02
  1.77207012e-02  2.00752244e-03  5.47674807e-03  6.21699772e-03
  5.79785841e-03  7.94287249e-03 -3.95650667e-03  8.62442429e-04
  7.08373006e-03  1.23364795e-02  2.16018684e-04  5.50503399e-03
  8.88686634e-03 -2.03244541e-03 -3.76225432e-03 -1.21854452e-03
  8.12542032e-03  1.30362979e-02  7.65454017e-03  3.31990513e-03
  6.15048940e-03  8.03179308e-03  9.69117004e-03 -1.69077232e-03
  6.83466681e-03]

In [ ]:
corr_recomienda[id_megusta]

1.0

In [ ]:
mejores10=list(names[(corr_recomienda > .15) & (corr_recomienda < 0.999999)])
mejores10

['Chilis Cuernavaca',
 'Giovannis',
 'Kiku Cuernavaca',
 'Paniroles',
 'Restaurant Familiar El Chino',
 'Restaurant Las Mananitas',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Rincon del Bife',
 'Vips']


### Ejercicio 7.4

In [ ]:
num_sv = 10

SVD = TruncatedSVD(n_components=num_sv, random_state=1)

resultant_matrix = SVD.fit_transform(X)
resultant_matrix.shape

me_gusta = "Subway"
names = UtMx.columns
names_list = list(names)
id_megusta = names_list.index(me_gusta)

id_megusta
corr_recomienda[id_megusta]
Best10=list(names[(corr_recomienda > .15) & (corr_recomienda < .999999)])
Best10

['Chilis Cuernavaca',
 'Giovannis',
 'Kiku Cuernavaca',
 'Paniroles',
 'Restaurant Familiar El Chino',
 'Restaurant Las Mananitas',
 'Restaurant Teely',
 'Restaurant and Bar and Clothesline Carlos N Charlies',
 'Rincon del Bife',
 'Vips']

In [ ]:
print("Numero de Recomandaciones iguales:",len(set(mejores10).intersection(Best10)))

Numero de Recomandaciones iguales: 10

### Conclusiones